/* Body & Layout */
body {
  background: linear-gradient(to right, #4c6ef5, #9b59b6, #f88379);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* Styling for the home page */
.home-container {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  color: white;
  max-width: 600px;
  margin: 0 auto 2rem auto;
}

.upload-container {
  margin: 2rem 0;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
}

input[type="file"] {
  display: none;
}

.upload-btn-wrapper input[type="file"] {
  display: none;
}

.upload-btn-wrapper button {
  background-color: #f88379;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.upload-btn-wrapper button:hover {
  background-color: #eb4b47;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.upload-btn-wrapper button:active {
  background-color: #e14b47;
  transform: scale(0.98);
}

/* Card Styling */
.card {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

/* Unfollowers List */
.unfollowers-list {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

.unfollowers-list li {
  background: #f9f9f9;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1.1rem;
  color: #333;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.unfollowers-list li:hover {
  background-color: #f1f1f1;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* No Unfollowers Text */
.no-unfollowers {
  font-size: 1.2rem;
  color: #555;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.no-unfollowers:hover {
  background-color: #f1f1f1;
}
